body {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
    fill: steelblue;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}