#{extends 'main.html' /}
#{set title:'Euro Exchange Rates' /}

<div>
    <!--These should really be retreived from DB but how can it with lazy loading-->
    <select id="currency-select"
            onchange='removeGraph();plotExchangeRatesToGraph(this.value)'>
        <option value="USD">US Dollar</option>
        <option value="JPY">Japanese Yen</option>
        <option value="BGN">Bulgarian Lev</option>
        <option value="CZK">Czech Republic Koruna</option>
        <option value="DKK">Danish Krone</option>
        <option value="GBP">Great British Pund</option>
        <option value="HUF">Hungarian forint</option>
        <option value="LTL">Lithuanian litas</option>
        <option value="LVL">Laminated veneer lumber</option>
        <option value="PLN">Polish Zloty</option>
        <option value="RON">New Romanian leu</option>
        <option value="SEK">Swedish Krona</option>
        <option value="CHF">Swiss franc</option>
        <option value="NOK">Norwegian Krone</option>
        <option value="HRK">Croatian Kuna</option>
        <option value="RUB">Russian Ruble</option>
        <option value="TRY">Turkish Lira</option>
        <option value="AUD">Australian Dollar</option>
        <option value="BRL">Brazilian Real</option>
        <option value="CAD">Canadian Dollar</option>
        <option value="CNY">Chinese Yuan</option>
        <option value="HKD">Hong Kong Dollar</option>
        <option value="IDR">Indonesian Rupiah</option>
        <option value="ILS">Israeli New Sheqel</option>
        <option value="INR">Indian Rupee</option>
        <option value="KRW">Korean Won</option>
        <option value="MXN">Mexican Peso</option>
        <option value="MYR">Malaysian Ringgit</option>
        <option value="NZD">New Zealand Dollar</option>
        <option value="PHP">Philippine Peso</option>
        <option value="SGD">Singapore Dollar</option>
        <option value="THB">Thai Baht</option>
        <option value="ZAR">South African Rand</option>
    </select>
</div>
<div>

    <button class="btn" position="right" onclick="refreshDataAndPlotExchangeRatesToGraph()">Refresh</button>
</div>

<script>
    plotExchangeRatesToGraph("USD");
</script>
